<a href="https://colab.research.google.com/github/KishorAlagappan/Task-7-Machine-Learning-/blob/main/KNN_classifier__Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***K-Nearest Neighbor (KNN) classifier***

From the dataset of USA Forensic Science Service which has description of 6 types of glass; defined in terms of their
oxide content (i.e. Na, Fe, K, etc). 
using K-Nearest Neighbor (KNN) classifier to classify the glasses.

In [2]:
#importing the packages 
import pandas as pd 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report 
from scipy.spatial import distance

**Reading the Datasets using Pandas**

In [9]:
headerNames = ['id', 'RI', 'Na','Mg','Al','Si','K','Ca','Ba','Fe','class attribute']  # creating a Names for Attributes
#Train dataset
train_file = pd.read_csv('/content/trainKNN.txt')  # Reading a text file as csv file
train_file.to_csv ('trainKNN.csv', header=headerNames, index=None)  # adding a Names to attributes of the file

In [20]:
df1 = pd.read_csv('/content/trainKNN.csv')

In [24]:
df1 = df1.drop('id',axis=1)  # removing the column 'id'

In [26]:
df1.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  class attribute
0  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00                1
1  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00                1
2  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00                1
3  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00                1
4  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26                1

In [25]:
df1.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,class attribute
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,1.518281,13.373846,2.750103,1.456154,72.639795,0.521744,8.911538,0.165077,0.050513,2.676923
std,0.003057,0.784929,1.390655,0.492293,0.763064,0.673624,1.425102,0.486304,0.086506,2.064234
min,1.511310,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516455,12.875000,2.335000,1.190000,72.330000,0.145000,8.220000,0.000000,0.000000,1.000000
50%,1.517630,13.270000,3.480000,1.360000,72.810000,0.560000,8.570000,0.000000,0.000000,2.000000
75%,1.518950,13.795000,3.605000,1.625000,73.080000,0.610000,9.105000,0.000000,0.090000,3.000000
max,1.533930,15.790000,3.980000,3.500000,75.180000,6.210000,16.190000,3.150000,0.340000,7.000000

In [27]:
#test dataset
test_file = pd.read_csv('/content/testKNN.txt')  # Reading a text file as csv file
test_file.to_csv('testKNN.csv', header=headerNames, index=None)  # adding a Names to attributes of the file

In [28]:
df2 = pd.read_csv('/content/testKNN.csv')

In [29]:
df2 = df2.drop('id', axis=1)  # removing the column 'id'

In [30]:
df2.head()

        RI     Na    Mg    Al     Si     K     Ca   Ba    Fe  class attribute
0  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.0  0.16                1
1  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03                1
2  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.0  0.00                2
3  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.0  0.24                2
4  1.51839  12.85  3.67  1.24  72.57  0.62   8.68  0.0  0.35                2

In [31]:
df2.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,class attribute
count,17.000000,17.000000,17.000000,17.00000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,1.518991,13.805294,1.769412,1.37000,72.849412,0.257647,9.437647,0.310000,0.128235,4.176471
std,0.002810,1.101659,1.744772,0.58676,0.910415,0.272799,1.419386,0.631951,0.169567,2.157409
min,1.511150,12.850000,0.000000,0.34000,71.360000,0.000000,6.650000,0.000000,0.000000,1.000000
25%,1.517110,13.000000,0.000000,0.90000,72.200000,0.000000,8.620000,0.000000,0.000000,2.000000
50%,1.519340,13.380000,1.610000,1.40000,72.720000,0.160000,8.990000,0.000000,0.000000,5.000000
75%,1.520650,14.230000,3.540000,1.94000,73.390000,0.560000,10.170000,0.150000,0.240000,6.000000
max,1.523000,17.380000,3.780000,2.17000,75.410000,0.760000,12.500000,1.670000,0.510000,7.000000

**standardization**

In [32]:
def standardize (df):      #function for Standardization
  for col in df.columns:
    if col != 'class attribute':
      df[col] = (df[col] - df[col].mean()) / df[col].std()
  return df

In [33]:
train = standardize(df1)    #standardize data
test = standardize(df2)     #standardize data

In [34]:
train.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,class attribute
0,-0.219548,0.65758,0.611149,-0.195318,0.118214,-0.061969,-0.758920,-0.339452,-0.583925,1
1,-0.687312,0.19894,0.575195,0.170317,0.458946,-0.195574,-0.794005,-0.339452,-0.583925,1
2,-0.203193,-0.20874,0.675867,-0.337510,-0.039046,0.071637,-0.485255,-0.339452,-0.583925,1
3,-0.281699,-0.13230,0.625531,-0.439075,0.576892,0.041947,-0.590511,-0.339452,-0.583925,1
4,-0.759276,-0.74382,0.618340,0.332822,0.432736,0.175553,-0.590511,-0.339452,2.421657,1

Model Training

In [45]:
# k = 8 neighbors
euclid_model = KNeighborsClassifier(n_neighbors=8, metric=distance.sqeuclidean) # Square Euclidean distance model
manhattan_model = KNeighborsClassifier(n_neighbors=8, metric=distance.cityblock) # Manhattan distance model

In [ ]:
x_train = train.drop(["class attribute"], axis=1)
y_train = train["class attribute"]

x_test = test.drop("class attribute", axis=1) 
y_test = test["class attribute"]
# Train models
euclid_model.fit(x_train,y_train) 
manhattan_model.fit(x_train, y_train)

In [44]:
# Make predictions
manhattan_predictions = manhattan_model.predict(x_test)
euclid_predictions = euclid_model.predict(x_test) 
df = pd.DataFrame({'actual': y_test, 'manhattan': manhattan_predictions, 'euclid': euclid_predictions})
df.head()

   actual  manhattan  euclid
0       1          1       1
1       1          1       1
2       2          2       2
3       2          2       1
4       2          1       2

Evaluate Model

In [46]:
manhattan_count = len(df.loc[df['manhattan'] == df['actual']])
euclid_count = len(df.loc[df['euclid'] == df['actual']])

In [47]:
print('Manhattan Accuracy: {}%'.format(round(100*manhattan_count/len(df), 2)))
print(classification_report(y_test, manhattan_predictions, target_names=df['actual'].astype(str).unique()))
print ('\n')
print('Square Euclidean Accuracy: {}%'.format(round(100*euclid_count/len(df), 2)))
print(classification_report(y_test, euclid_predictions, target_names=df['actual'].astype(str).unique()))

Manhattan Accuracy: 64.71%
              precision    recall  f1-score   support

           1       0.50      1.00      0.67         2
           2       0.33      0.67      0.44         3
           3       0.00      0.00      0.00         3
           5       1.00      0.67      0.80         3
           6       1.00      0.67      0.80         3
           7       1.00      1.00      1.00         3

    accuracy                           0.65        17
   macro avg       0.64      0.67      0.62        17
weighted avg       0.65      0.65      0.62        17



Square Euclidean Accuracy: 58.82%
              precision    recall  f1-score   support

           1       0.40      1.00      0.57         2
           2       0.33      0.67      0.44         3
           3       0.00      0.00      0.00         3
           5       1.00      0.67      0.80         3
           6       1.00      0.33      0.50         3
           7       1.00      1.00      1.00         3

    accuracy                           0.59        17
   macro avg       0.62      0.61      0.55        17
weighted avg       0.64      0.59      0.55        17

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Assignment 10

You are provided with a dataset from USA Forensic Science Service
which has description of 6 types of glass; defined in terms of their
oxide content (i.e. Na, Fe, K, etc). Your task is to use K-Nearest
Neighbor (KNN) classifier to classify the glasses.
The original dataset is available at
(https://archive.ics.uci.edu/ml/datasets/glass+identification). For
detailed description on the attributes of the dataset,
please refer to the original link of the dataset in the UCI ML
repository.
But the shared drive folder have the dataset for your convenience

perform exploratory data analysis on the dataset using Python Pandas,
including dropping irrelevant fields for predicted values, and
standardization of each attribute.
Following data cleaning, two Scikit-Learn KNN models should be created
for two different distance metrics: Square Euclidean and Manhattan
distance. The performance of the two models using different distance
metrics should be compared in terms of accuracy to the test data and
Scikit-Learn Classification Report.